<div class="container">

<div class="artist-header">
<%= @artist.name %>
</div>

<div id="follow-button">

</div>


<div class="artist-content">
<% if user_logged_in? %>
<% if !followed? %>
<h3><%= link_to "+ follow", create_follow_path, method: :put %></h3>
<% else %>
<h3><%= link_to "+ edit", edit_artist_path %></h3>
<h3><%= link_to "- unfollow", delete_follow_path, method: :delete %></h3>
<% end %>
<% end %>
<h3>+ Field Recordings</h3>
<ul><% @field_recordings.each do |f|%>
<li><%= link_to f.title + " " + f.date.to_s, field_recording_path(f.id)%></li>
<% end %></ul>
<h3>+ Bio</h3>
<%= @artist.description %>
</div>



<div class="artist-picture">
          
<% if @artist.avatar.attached? %>
    <img src="<%= (url_for(@artist.avatar)) %>">
<% end %>

</div>

</div>