<h1><%= @artist.name %></h1>

<div id="follow-button">
<% if user_logged_in? %>
<% if !followed? %>
<h3><%= link_to "follow", create_follow_path, method: :put %></h3>
<% else %>
<h3><%= link_to "unfollow", delete_follow_path, method: :delete %></h3>
<% end %>
<% end %>
</div>


<p><%= @artist.description %></p>

<div class="list"><ul><% @field_recordings.each do |f|%>
<li><%= link_to f.title + " " + f.date.to_s, field_recording_path(f.id)%></li>
<% end %></ul></div>

<div class="photo">
<% if @artist.avatar.attached? %>
    <img src="<%= (url_for(@artist.avatar)) %>">
<% end %>
</div>
