<div class="list">
Add comment to <%= @field_recording.title %>    
<br>    
<br>    

<%= form_for @comment do |f| %>
<%= f.label :comment %>
<%= f.text_area :comment%>
<%= f.hidden_field :user_id, :value => @user_id %>
<%= f.hidden_field :field_recording_id, :value => @field_recording.id %>
<%= f.submit "Submit" %>
<% end %>
</div>