<div class="container">

<div class="fr-header">
Analysis
</div>
        
        
<div class="fr-list">
<ul>
number of users: <%= @users.length %><br>
number of field recordings: <%= @field_recordings.length %><br>
number of artists: <%= @artists.length %><br>
number of locations: <%= @locations.length %><br>
number of comments: <%= @comments.length %>
</ul>
</div>
</div>