<div class="container">

<div class="fr-header">
Site stats
</div>
        
        
<div class="fr-stats">
<ul>
number of users: <%= @users.length %><br>
number of field recordings: <%= @field_recordings.length %><br>
number of artists: <%= @artists.length %><br>
number of locations: <%= @locations.length %><br>
number of comments: <%= @comments.length %><br>


<br>
<br>
Field Recording views
<br>
<br>
<% @field_recordings.each do |f| %>
<%=  link_to "#{f.title}:", field_recording_path(f.id) %><%=" #{f.impressionist_count}"%><br>
<% end %>
<br>
<br>
Artist views
<br>
<br>
<% @artists.each do |a| %>
<%=  link_to "#{a.name}:", artist_path(a.id) %><%= " #{a.impressionist_count}"%><br>
<% end %>
<br>
<br>
Location views
<br>
<br>
<% @locations.each do |l| %>
<%=  link_to "#{l.name}:", location_path(l.id)%><%= " #{l.impressionist_count}"%><br>
<% end %>
<br>


</ul>
</div>
</div>