<div class="container">

<div class="fr-header">
Edit <%= @field_recording.title %>
</div>
<div class="fr-form">
<%= form_for @field_recording do |f| %>
<%= f.label :title %>
<%= f.text_field :title %>
<%= f.fields_for @location do |location| %>
    <%= location.label :name, "Location" %>
    <%= location.text_field :name, placeholder: "Leave blank if Location is the same." %>
    <% end %>
    <%= f.fields_for @artist do |artist| %>
    <%= artist.label :name, "Artist" %>
    <%= artist.text_field :name, placeholder: "Leave blank if Artist is the same." %>
    <% end %>
<%= f.label :date %>
<%= f.date_select :date %>
<%= f.label :description %>
<%= f.text_area :description %>
<%= f.label "Photo" %>
<%= f.file_field :avatar %>
<%= f.label "Recording" %>
<%= f.file_field :recording %>
<%= f.submit "Submit" %>
<% end %>
</div>

</div>