<div class="container">
<div class="fr-header">
    Field recordings
</div>


<div class="fr-comments">
<div class="new-fr">
<% if user_logged_in?%> 
<%= link_to "New Field Recording", new_field_recording_path%> 
<% end %>
</div>
Featured Field Recording<br>
<br>
<% if @random_field_recording.avatar.attached? %>
<img src="<%= (url_for(@random_field_recording.avatar)) %>"">
<% end %>
title: <%= link_to @title, field_recording_path(@random_field_recording) %><br>
artist: <%= link_to @artist.name, artist_path(@artist) %><br>
location: <%= link_to @location.name, location_path(@location) %><br>
date: <%= @random_field_recording.date %><br>
<div class="fr-description">
description: <%= @description %><br>
</div>
</div>








<div class="fr-list">
<% if @field_recordings.blank? %>
There are no field recordings containing the term <%= params[:search]%>.
<% end %>
<ul>
<% @field_recordings.each do |fieldrecording| %>
<li>
<%=link_to fieldrecording.title, field_recording_path(fieldrecording) %>
</li>
<% end %>
</div>

</div>