<h1>New Field Recording</h1>

<%= form_for @field_recording do |f| %>
<%= f.label :title %>
<%= f.text_field :title %>

<!-- <%= f.fields_for :artist do |artist| %>
    <%= artist.label :artist_name %>
    <%= artist.text_field :name %>
<%end%>
<%= f.fields_for :location do |location| %>
    <%= location.label :location_name %>
    <%= location.text_field :name %>
<%end%> -->

<%= f.label :date %>
<%= f.date_select :date %>
<%= f.label :description %>
<%= f.text_area :description %>
<%= f.submit "Submit" %>
<% end %>
