<div class="container">
    
<h1>New Field Recording</h1>

<div class="form">
<%= form_for @field_recording do |f| %>
<%= f.label :title %>
<%= f.text_field :title %>
<%= f.fields_for @location do |location| %>
    <%= location.label :name, "Location" %>
    <%= location.text_field :name %>
<%end%>
<%= f.label :date %>
<%= f.date_select :date %>
<%= f.label :description %>
<%= f.text_area :description %>
<%= f.label "Photo" %>
<%= f.file_field :photos %>
<%= f.label "Recording" %>
<%= f.file_field :recording %>
<%= f.submit "Submit" %>
<% end %>
</div>

</div>
