<div class="container">

<div class="fr-header">
<%= @field_recording.title %>
</div>

<div class="fr-content">
title: <%= @field_recording.title %><br>
artist: <%= link_to @artist.name, artist_path(@artist) %><br>
location: <%= link_to @location.name, location_path(@location) %><br>
date: <%= @field_recording.date %><br>
description: <%= @field_recording.description %><br>
</div>

<div class="fr-comments">
comments:
<% @comments.each do |c| %>
<li>"<%= c.comment %>" - <%= c.user.username %></li>
<% end %>
<% if user_logged_in? %>
<br>
<%= link_to "add comment", new_comment_path(@field_recording) %>
<% end %> 
</div>


<div class="fr-picture">        
    <% if @field_recording.avatar.attached? %>
    <img src="<%= (url_for(@field_recording.avatar)) %>">
    <% end %>
</div>
</div>

<div class="fr-space">
    
</div>

<div class="player">
    <audio controls><source src="<%= (url_for(@field_recording.recording)) %>"></audio> 
</div>