<h1>Field Recordings</h1>

<div class="list">
title: <%= @field_recording.title %><br>
<!-- add artist and location info again -->
date: <%= @field_recording.date %><br>
description: <%= @field_recording.description %><br>
</div>
<br>
<div class="list">
comments:

<% @comments.each do |c| %>
<li>"<%= c.comment %>" - <%= c.user.username %></li>
<% end %>


<br>
<%= link_to "add comment", new_comment_path(@field_recording) %> 
</div>

<div class="player">
    <audio controls><source src="<%= (url_for(@field_recording.recording)) %>"></audio> 
</div>



