<div class="f-container-row">

<div class="f-head">
    New Location
</div>
        
<div class="f-form">

<% if flash[:message] %>
<%= flash[:message] %>
<% end %>

<%= form_for @location do |f| %>
<%= f.label :name %><br>
<%= f.text_field :name %><br><br>
<%= f.label :description %><br>
<%= f.text_area :description %><br><br>
<%= f.submit "Submit" %><br>
<% end %>
</div>

</div>