<!DOCTYPE html>
<html>
  <head>
    <title>FieldRecordingDB</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', "https://fonts.googleapis.com/css?family=Fira+Code&display=swap" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="nav-bar-top">
    <div class="sign-up">
    <%= link_to "+User Sign Up", user_signup_path %>
    <%= link_to "+Artist Sign Up", artist_signup_path %>
    </div>
    <div class="navigation">
    <%= link_to "+Locations", locations_path %>
    <%= link_to "+Artists", artists_path %>
    <%= link_to "+Field Recordings", field_recordings_path %>
    </div>
    <div class="search">
        <%= form_tag(field_recordings_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search" %>
        <%= submit_tag "Search", :name => nil %>
        <% end %>
    </div>
    <div class="login-logout">
    <% if user_logged_in? || artist_logged_in? %>
    <%= link_to "+Logout", logout_path, method: :delete %>
    <% else %>
    <%= link_to "+User Login", login_user_path %>
    <%= link_to "+Artist Login", login_artist_path %>
    <% end %>
    </div>
    </div>









    <%= yield %>
  </body>
</html>
